/* Write your CSS here */
.middleSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2rem 0;
}
.balancecardContainer,
.incomecardContainer,
.expensescardContainer {
  width: 30%;
  padding: 1.2rem 2rem;
  border-radius: 10px;
  display: flex;
  gap: 2rem;
}
.balancecardContainer {
  background-color: #ecfccb;
  border: 1px solid #84cc16;
  box-shadow: 0 4px 16px 0 #d5ff81;
}
.incomecardContainer {
  background-color: #cffafe;
  border: 1px solid #06b6d4;
  box-shadow: 0 4px 16px 0 #b7f4fa;
}
.expensescardContainer {
  background-color: #ede9fe;
  border: 1px solid #7c3aed;
  box-shadow: 0 4px 16px 0 #d8cfff;
}
.balancecardContainer > img,
.incomecardContainer > img,
.expensescardContainer > img {
  width: 60px;
  height: 60px;
  align-self: center;
}
.balancecardContainer > div,
.incomecardContainer > div,
.expensescardContainer > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-self: center;
}
.titletext {
  font-size: 15px;
}
.amount {
  font-size: 22px;
}

@media (max-width: 768px) {
  .balancecardContainer,
  .incomecardContainer,
  .expensescardContainer {
    width: 100%;
  }
  .middleSection {
    gap: 2rem;
  }
}
